################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/1005/ConsoleApp1/.vs/ConsoleApp1
